*{
    margin: 0px;
    padding: 0px;
}
.product-small-img img{
   height: 92px;
   margin: 10px 0 ; 
   cursor: pointer;
   display: block;   
   opacity: 0.6;
   transition: 0.5s;
}
.product-small-img img:hover{
    opacity: 1;
    height: 130px;
}
.product-small-img{
    float: left;
}
.product{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}
.img-container img{
 height: 500px;    
}
.img-container{
    float: right;
    padding: 10px;
}
@media  only screen and (max-width:700px) {
    .product{
        left: auto;
        right: auto;
        top: auto;
        bottom: auto;
        align-items: center;
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: space-evenly;
        transform: none;
    }
    .img-container{
        padding: 0;
        padding-right: 5px;
        
    }
    .product-small-img img:hover{
        opacity: 1;
        height: 115px;
    }
}
@media  only screen and (max-width:340px) {
    .img-container{
        padding: 0;
    }
    #imageshow{
        width: 250px;
        overflow: hidden;
    }
}
